@model IEnumerable<Exam.Entities.SubjectExam>
@{
    ViewData["Title"] = "index";
}

<h1>index</h1>

<p>
    <a>@Html.ActionLink("CreateView", "CreateView")</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SubJectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExamDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.classroom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Faculty)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.SubJectName)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.ExamDate)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.classroom)
          </td>
           <td>
                    @Html.DisplayFor(modelItem => item.Faculty)
           </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                @*<a asp-action="Details" asp-route-id="@item.id">Details</a> |*@
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
